* {
  margin: 0;
  padding: 0;
  border: 0;
}
a:active,
a:hover {
  outline: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
@font-face {
  font-family: "ProximaNovaSoft-Regular";
  src:url("../icons/font/ProximaNovaSoft-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Motion";
  src:url("../icons/font/Motion.ttf") format("opentype");
}
@font-face {
  font-family: "ArnoPro-Italic";
  src:url("../icons/font/ArnoPro-Italic.otf") format("opentype");
}
@font-face {
  font-family: "VIVALDII";
  src:url("../icons/font/VIVALDII.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src:url("../icons/font/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
   src:url("../icons/font/Roboto-Regular.ttf") format("truetype");
}
/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}


/* ------------------------------------------
  DEMO STYLES
--------------------------------------------- */

section {
  text-align: center;
  width: 100%;
}



/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */


header.fixed {
  width: 100%;
  height: 60px;
  background-color: #14424f;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}
@media screen and (min-width: 100px) and (max-width: 400px) {
  .wrapper {
  width: 100%;
  margin: 0 auto;
}
header.fixed {
  height: 55px; 
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;

}
}
.logo {
  transition:all 0.4s ease;
  font-family: "Motion";
  font-size: 32px;
  text-decoration: none;
  line-height: 55px;
  padding: 5 20px;
  color: #f6b63a;
  float: left;
  padding-left: 15px;
  letter-spacing: 2px;
}
.logo:hover {
  color: #15acd7;
}
}


/* ------------------------------------------
  MASK
--------------------------------------------- */

.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .9);
  visibility: none;
  position: fixed;
  opacity: 0;
  z-index: 9999;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 40em) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}


/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 40em) {
  .nav-collapse {
    float: right;
    width: auto;
  }
}

.nav-collapse li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: auto;
  }
}

.nav-collapse a {
  font-size: 1.5em;
  font-family: "ProximaNovaSoft-Regular";
  border-top: 1px solid white;
  text-decoration: none;
  padding: 1em 1.1em;
  color: #fff;
  width: 100%;
  float: left;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition:all 0.4s ease;
  background-color: rgba(21, 67, 80, .8);
  position: relative;
}
nav a:hover {
  color: #f6b63a;
}
.nav-collapse a:active,
.nav-collapse .active a {
  color: #f6b63a;
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    padding: 1.4em 2em;
    text-align: center;
    border-top: 0;
    float: left;
    width: 100%;
    margin: 0;
  }
  nav a:hover {
  color: #f6b63a;
}
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 40em) {
  .nav-collapse ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
 color: #f6b63a;
  font: normal 28px/55px "responsivenav";
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 0%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* Close icon */
}

/* ------------------------------------------
  content header
--------------------------------------------- */


#home {
  padding-top: 100px;
  width: 100%;
  background-image: url(../img/bgd.jpg);
  background-size: cover;
  height: 600px;

}
.cont1 {
  margin-top: 80px;
}
p.made {
  font-family: "VIVALDII";
  color: white;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
}
p.make {
  font-family: "Roboto-Medium";
  color: #15acd7;
  font-size: 65px;
  text-align: center;
}
p.letter {
  color: white;
  font-size: 25px;
  text-align: center;
  font-family: "ArnoPro-Italic";
}
.button p {
  text-align: center;
  padding-top: 25px;
}
.button p a{

  border: 1px solid #f6b63a;
  padding: 10px 35px 10px 35px ;
  border-radius: 50px;
  text-decoration: none;
  color: #f6b63a;
  font-size: 20px;
  font-family: "Roboto-Regular";
  transition:all 0.4s ease;    
}
p img.scroll {
   width: 72px;
  height: 25px;
  margin-top: 170px;
}
.button p a:hover{
  background-color: #15acd7;
  color: white;
  border: 1px solid white;

}
@media screen and (min-width: 100px) and (max-width: 400px) {
  #home{
   background-image: url(../img/pattern-section6.jpg);
  background-size: cover;
  height: 250px;

}
.cont1 {
  position: relative;
  margin-top: -10px;
}
p.made {
  font-family: "VIVALDII";
  color: white;
  font-size: 2em;
  text-align: center;
  letter-spacing: 2px;
}
p.make {
  font-family: "Roboto-Medium";
  color: #15acd7;
  font-size: 2.6em;
  text-align: center;
}
p.letter {
  visibility: hidden;
}
.button p {
  width: 100%;
  position: absolute;
  bottom: 265px;
  text-align: center;
}
.button p a{
  position: relative;
  top: 200px;
  border: 1px solid #f6b63a;
  padding: 7px 27px 7px 27px ;
  color: #f6b63a;
  font-size: 16px;   
}

p img.scroll {
   visibility: hidden;
}

}
/* ------------------------------------------
  content about
--------------------------------------------- */
section#about {
  height: 1550px;
}
section#about .container{
  background-repeat: no-repeat;
  width: 100%;
  height: 567px;
  background-image: url(../img/bgd_1.jpg);
}
#about h1 {
  padding-top: 70px;
  letter-spacing: 1px;
  color: #f6b63a;
  font-family: "Roboto-Medium";
  text-align: left;
  font-size: 36px;
}
p.p1{
  width: 70%;
  float: left;
  padding-top: 50px;
  font-family: "ProximaNovaSoft-Regular";
  text-align: left;
  font-size: 21px;
  color: #363636;
}
p.p2{
  width: 60%;
  float: left;
  margin-top: 40px;
  font-family: "ProximaNovaSoft-Regular";
  text-align: left;
  font-size: 21px;
  color: #363636;
  padding-left: 20px;
  border-left: 5px solid #f6b63a;
}
p.button{
  margin-top: 50px;
  float: left;
  text-align: left;
}
p.button a{
  margin-top: 50px;
  border: 1px solid #f6b63a;
  padding: 10px 35px 10px 35px ;
  border-radius: 50px;
  text-decoration: none;
  color: #f6b63a;
  font-size: 20px;
  font-family: "Roboto-Regular";
  transition:all 0.4s ease; 
}
p.button a:hover{
  background-color: #15acd7;
  color: white;
  border: 1px solid white;
}
@media screen and (min-width: 100px) and (max-width: 400px)  {
  section#about {
    height: 1480px;
    background-color: #f2f2f2;
  }
  section#about .container{
  background-repeat: no-repeat;
  width: 100%;
  height: 320px;
  background-size: cover;
  background-image: url(../img/bgd_2.jpg);
}
#about h1 {
  padding-left: 30px;
  padding-top: 30px;
  letter-spacing: 1px;
  color: #f6b63a;
  font-family: "Roboto-Medium";
  text-align: left;
  font-size: 24px;
}
p.p1{
  padding-left: 25px;
  width: 80%;
  padding-top: 10px;
  font-size: 0.9em;
  color: #363636;
}
p.p2{
  margin-left: 25px;
  padding-left: 10px;
  width: 80%;
  margin-top: 10px;
  font-size: 0.9em;
}
p.button{
  text-align: left;
}
p.button a{
  margin-left: 25px;
  top: 630px;
  padding: 5px 20px 5px 20px ;
  position: absolute;
  font-size: 1em; 
}
}
/*-------slider-----------*/
.container2{
  margin: 0 auto;
  width: 100%;
}
.wrapper2{
  margin: 0 auto;
  width: 100%;
}
.container2 {
  background-repeat: no-repeat;
  width: 100%;
  height: 390px;
  background-image: url(../img/bgdtesti.jpg);
}
.left3 {
  width: 100%;
  margin: 0 auto;
}
#slider-wrapper{
            width: 100%;
            background-size: cover;
            height: 390px;
            margin: 0 auto;
            position: relative;
            background: rgba(0,0,0,0.5);
            overflow: hidden;
        }
        
                #s1{
                    padding: 6px;
                    background: #FFFFFF;
                    position: absolute;
                    left: 50%;
                    bottom: 50px;
                    margin-left: -50px;
                    border-radius: 20px;
                    opacity: 0.3;
                    cursor: pointer;
                    z-index: 999;
                }
                
                #s2{
                    padding: 6px;
                    background: #FFFFFF;
                    position: absolute;
                    left: 50%;
                    bottom: 50px;
                    margin-left: -28px;
                    border-radius: 20px;
                    opacity: 0.3;
                    cursor: pointer;
                    z-index: 999;
                }
                
                #s3{
                    padding: 6px;
                    background: #FFFFFF;
                    position: absolute;
                    left: 50%;
                    bottom: 50px;
                    margin-left: -4px;
                    border-radius: 20px;
                    opacity: 0.3;
                    cursor: pointer;
                    z-index: 999;
                }
                #s1:hover, #s2:hover, #s3:hover, #s4:hover{ opacity: 1;}
                
            .inner-wrapper{
                width: 100%;
                height: 420px;
                position: absolute;
                top: 0;
                left: 0;
                margin-bottom: 0px;
                overflow: hidden;
            }
                .control{ display: none;}
                
                #Slide1:checked ~ .overflow-wrapper{ margin-left: 0%; }
                #Slide2:checked ~ .overflow-wrapper{ margin-left: -100%; }
                #Slide3:checked ~ .overflow-wrapper{ margin-left: -200%; }
                
                #Slide1:checked + #s1 { opacity: 1; }
                #Slide2:checked + #s2 { opacity: 1; }
                #Slide3:checked + #s3 { opacity: 1; }
            .overflow-wrapper{
                width: 300%;
                height: 390px;
                position: relative;
                top: 0;
                left: 0;
                overflow-y: hidden;
                z-index: 1;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
            
                .slide img{
                    width: 25%;
                    float: left;
                    position: relative;
                }
@media screen and (min-width: 100px) and (max-width: 400px){
  .wrapper2{
  }
  .container2 {
  background-color: black;
  background-repeat: no-repeat;
}
  .left3 {
  visibility: hidden;
}
#slider-wrapper{
            visibility: hidden;
        }
        
                #s1{
                    visibility: hidden;
                }
                
                #s2{
                    visibility: hidden;
                }
                
                #s3{
                    visibility: hidden;
                }
                #s1:hover, #s2:hover, #s3:hover, #s4:hover{ opacity: 1;}
                
            .inner-wrapper{
                visibility: hidden;
            }
            .overflow-wrapper{
                visibility: hidden;
            }
            
                .slide img{
                    visibility: hidden;
                }
}
.container3{
  background-image: url(../img/home_left_fixed.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
}
.wrapper3{
  width: 80%;
  margin: 0 auto;
}
.col3 {
  width: 33%;
  float: left;
  box-sizing:border-box;
}
.col3 .icon img{
  margin-top: 50px;
  width: 80px;
  height: 80px;
}
.container3 .col3 h2{
  text-align: center;
  font-size: 20px;
  font-family: "Roboto-Regular";
  color: #15acd7;
  padding: 15px;
}
.col3 p{
  text-align: center;
  width: 90%;
  padding: 0 40px 40px 0;
  font-family: "Roboto-Regular";
  color: #464646;
  font-size: 16px;
}
@media screen and (min-width: 100px) and (max-width: 400px){
  .container3 {
    position: relative;
    bottom: 390px;
    background-image: url(../img/home_left_fixed2.jpg);
  height: 1160px;
  width: 100%;
  }
  .col3 {
    width: 100%;
  }
  .col3 .icon img{
  margin-top: 10px;
  width: 50px;
  height: 50px;
}
.col3 h2{
  font-size: 15px;
  font-family: "Roboto-Regular";
  color: #15acd7;
  padding: 10px;
}
.col3 p{
  padding: 0 20px 20px 0;
  font-family: "Roboto-Regular";
  color: #464646;
  font-size: 0.9em;
}
}
.container4 {
  width: 100%;
}

/* ------------------------------------------
  content Menu
--------------------------------------------- */

section#projects{
  background-image: url(../img/pattern-section6.jpg);
  width: 100%;
  height: 1810px;
}
.wrapper5 {
  width: 80%;
  margin: 0 auto;
}
.container5 {
  width: 100%;
  margin: 0 auto;
}
img.up{
  width: 100%;
  margin: 0;

}

.container5 p.tittle{
  color: #f6b63a;;
  font-family: "Motion";
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
}
@media screen and (min-width: 100px) and (max-width: 400px) {
  img.up{
   
  }
  section#projects{
  position: relative;
  background-image: url(../img/pattern-section6.jpg);
  width: 100%;
  height: 1950px;
}

.container5 p.tittle{
  font-size: 1.6em;
}
}
.col4{
  box-shadow: 0 3px 12px rgba(0,0,0,.25);
  border-radius: 10px;
  height: 280px;
  background-color: white;
  margin: 50px 10px 10px 10px;
  width: 23%;
  float: left;
  box-sizing: border-box;
}
.col4 img{
  border-top-right-radius: 10px;
   border-top-left-radius: 10px;
  margin: 0 auto;
  height: 155px;
  width: 249px;
}
.col4 h2{
  padding-top: 8px;
  padding-left: 13px;
  font-size: 30px;
  font-family: "ArnoPro-Italic";
  text-align: left;
  width: 85%;
  color: #f6b63a;
}
.col4 h3 {
  padding-top: 3px;
  padding-left: 13px;
  width: 85%;
  font-family: "ArnoPro-Italic";
  font-size: 28px;
  color: #464646;
  text-align: left;
  font-weight: bold;
}
p.desk{
  padding-left: 13px;
  width: 90%;
  font-size: 15px;
  color: black;
  text-align: left;
  font-family: "Roboto-Regular";
  color: #464646;
}
p.button2 {
  text-align: center;
  padding-top: 50px;
}
p.button2 a{

  border: 1px solid #f6b63a;
  padding: 10px 35px 10px 35px ;
  border-radius: 50px;
  text-decoration: none;
  color: #f6b63a;
  font-size: 20px;
  font-family: "Roboto-Regular";
  transition:all 0.4s ease;    
}
p.button2 a:hover{
  background-color: #15acd7;
  color: white;
  border: 1px solid white;

}
@media screen and (min-width: 100px) and (max-width: 400px) {
  .wrapper5{
    width: 95%;
  }
  .container5{
    position: relative;
    bottom: 345px;
    width: 100%;
  }
  .col4{
  height: 185px;
  background-color: white;
  margin: 20px 6px 8px 6px;
  width: 46%;
}
.col4 img{
  
  height: 90px;
  width: 140px;
}
.col4 h2{
  padding-top: 2px;
  padding-left: 6px;
  font-size: 1.2em;
  
}
.col4 h3 {
  padding-top: 1px;
  padding-left: 6px;
  width: 85%;
  font-size: 1.01em;
}
p.desk{
  padding-left: 6px;
  font-size: 0.7em;
}
p.button2 {
  position: relative;
    bottom: 345px;
  text-align: center;
  padding-top: 35px;
}
p.button2 a{
  border: 1px solid #f6b63a;
  padding:7px 25px 7px 25px ;
  border-radius: 50px;
  font-size: 15px;   
}
}
.line {
  border-bottom: 1px solid white;
  width: 100%;
  float: center;
  margin: auto;
  padding-top: 80px;
  margin-bottom: 50px;
}
.menu2 h1{
  color: white;
  font-family: "ArnoPro-Italic";
  font-size: 40px;
}
.menu2{
  width: 100%;
  margin: 0 auto;
}
.cont2{
  position: relative;
  top: 30px;
  width: 100%;
  margin: 0 auto;
  height: 180px;
}
.col2 .left {
  box-shadow: 0 3px 12px rgba(0,0,0,.25);
  width: 30%;
  float: left;
  background-color: white;
  width: 177px;
  height: 132px;
}
.col2 .right{
  height: 115px;
  width: 66%;
  float: right;
}
.col2 .left img {
  position: relative;top: 8.5px;
  width: 160px;
  height: 115px;
}
.col2 {
  width: 50%;
  float: left;
}
.right h2,p,h3{
  padding-top: 2px;
  text-align: left;
  width: 90%;
  margin: 0 auto;
}
.right h2{
  color:  #15acd7;
  font-family: "ArnoPro-Italic"

}
.right p{
  color: white;
  font-family: "Roboto-Regular";

}
.right h3{
  font-size: 30px;
  color: white;
}
.right{
  top: 15px;
  position: relative;
}
.right .star {
  position: relative;
  bottom: 25px;
  width: 85%;
  text-align: right;
}
.right .star i{
  color: #ffd428;
  font-size: 20px;
}
p.button3 {
  text-align: center;
  padding-top: 50px;
}
p.button3 a{

  border: 1px solid #f6b63a;
  padding: 10px 35px 10px 35px ;
  border-radius: 50px;
  text-decoration: none;
  color: #f6b63a;
  font-size: 20px;
  font-family: "Roboto-Regular";
  transition:all 0.4s ease;    
}
p.button3 a:hover{
  background-color: #15acd7;
  color: white;
  border: 1px solid white;

}
@media screen and (min-width: 100px) and (max-width: 400px) {
  .line {
    position: relative;
    bottom: 345px;
    padding-top: 40px;
  }
  .menu2{
    position: relative;
    bottom: 345px;
  }
  .menu2 h1{
  font-size: 20px;
}
.cont2{
  position: relative;
  top: 30px;
  width: 100%;
  margin: 0 auto;
  height: 90px;
}
.col2 .left {
  left: -15px;
  width: 27%;
  float: left;
  width: 112px;
  height: 80px;
}
.col2 .right{

  height: 115px;
  width: 63%;
  float: right;
}
.col2 .left img {
  position: relative;
  top: 5px;
  width: 100px;
  height: 68px;
}
.col2 {
  width: 100%;
  float: left;
}
.right h2,p,h3{
  text-align: left;
  width: 96%;
  margin: 0 auto;
}
.right h2{
  font-size: 1.1em;
}
.right p{
  font-size: 0.7em;
}
.right h3{
  font-size: 1em;
}
.right{

  bottom: 5px;
  top: 0;
  position: relative;
}
.right .star {
  position: relative;
  bottom: 22px;
  width: 90%;
}
.right .star i{
  font-size: 10px;
}
p.button3 {
  text-align: center;
  padding-top: 35px;
}
p.button3 a{
  border: 1px solid #f6b63a;
  padding:7px 25px 7px 25px ;
  border-radius: 50px;
  font-size: 15px;   
}
}
/* ------------------------------------------
  content team
--------------------------------------------- */
.container6{
  background-image: url(../img/bgd4.jpg);
  background-size: cover;
  height: 750px;
  width: 100%;
  margin: 0 auto;
}
.wrapper6 {
  width: 80%;
  margin: 0 auto;
}
.cont6{
  width: 100%;
  margin: 0 auto;
}
.wrapper6 h1{
  padding-top: 30px;
  padding-bottom: 60px;
  font-size: 35px;
  font-family: "ArnoPro-Italic";
  color: #f6b63a;
}
.left2{
  margin: 0 auto;
  width: 50%;
  float: left;
}
.right2{
  width: 50%;
  margin: 0 auto;
  float: right;
}
.left4{
  width: 50%;
  float: left;
}
.right4{
  width: 50%;
  float: right;
}
img.e1{
  position: relative;
  width: 290px;
  height: 491px;
}
img.e2{
  position: relative;
  width: 199px;
  height: 271px;
}
img.e3{
  left: 35px;
  top: 10px;
  position: relative;
  width: 300px;
  height: 207px;
}
p.p6{
  float: right;
  text-align: right;
  font-weight: bold;
  color: #636363;
  font-family: "Roboto-Medium";
  font-size: 40px;
}
p.p7{
  float: right;
  width: 90%;
  margin-top: 30px;
  font-family: "ArnoPro-Italic";
  text-align: right;
  font-size: 20px;
  color: #363636;
  padding-right: 20px;
  border-right: 4px solid #f6b63a;
}


@media screen and (min-width: 100px) and (max-width: 760px) {
  #blog {
  }
  .wrapper6 h1{
    padding-bottom: 1px;
}
.wrapper6{
  width: 90%;
}
  .container6{
  height: 500px;
  background: none;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}
  .left2 {
  bottom: 100px;
    position: relative;
    width: 100%;
  }
  .right2 {
    width: 100%;
  }
  img.e1{
  position: relative;
  width: 160px;
  height: 260px;
}
img.e2{
  position: relative;
  width: 120px;
  height: 165px;
  left: 10px;
}
.right2{
  position: relative;bottom: 80px;
}
img.e3{
  left: 10px;
  top: 3px;
  position: relative;
  width: 120px;
  height: 87px;
}
p.p6{
  float: left;
  text-align: left;
  font-weight: bold;
  color: #636363;
  font-family: "Roboto-Medium";
  font-size: 1.5em;
}
p.p7{
  float: left;
  width: 90%;
  margin-top: 30px;
  font-family: "ArnoPro-Italic";
  text-align: left;
  font-size: 1em;
  color: #363636;
  border-right: none;
  padding-left: 20px;
  border-left: 2px solid #f6b63a;
}
}
/* ------------------------------------------
  content footer
--------------------------------------------- */
.container8 {
  width: 100%;
  margin: 0 auto;
  background-color: #14424f;
  height: 300px;
}
.wrapper7{
  width: 80%;
  margin: 0 auto;
}
.cont7{
  position: relative;
  top: 50px;
  width: 100%;
  margin: 0 auto;
}
.cont7 .col3{
  width: 32%;
  float: left;
}
.col3 h2{
  padding-bottom: 5px;
  text-align: left;
  font-size: 25px;
  font-family: "ArnoPro-Italic";
  color: #15acd7;
}
.col3 ul {
  display: block;
  text-align: left;
  list-style: none;
}
.col3 ul a{
  display: inline-block;
  padding-left: 8px;
  text-decoration: none;
  font-family: "ProximaNovaSoft-Regular";
  color: white;
  font-size: 18px;
}
.col3 a i{

  float: left;
  font-size: 30px;
  color: white;
  padding: 10px;
  text-align: left;
}
footer .copy {
  width: 80%;
  margin: auto;
  position: relative;
  top: 100px;
}
.copy .copy1 a {
  font-size: 14px;
  font-family: "ProximaNovaSoft-Regular";
  color: #fff;
  text-decoration: none;
}
.copy .copy1 a:hover {
  color: grey;
}
.medsos{
  float: left;
  position: relative;
  top: 10px;
}
form {
  top: 10px;
  position: relative;
  float: left;
  border-radius: 10px;
  text-align: center;
 }
.search {
  width: 230px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding:14px 20px;
  background: #f0f8ff;
  border: 2px solid white;
}
.button5 {
  border: 2px solid white;
   transition:all 0.4s ease;
  border-radius: 10px;
  left: -60px;
  position:relative;
    padding:14px 20px;
    background-color:#f6b63a;
    color:#fff;
    cursor: pointer;
}
.button:hover {
    background-color: #14424f;
    border: 2px solid white;
    color:#fff;
}
p.button4 {
  text-align: right;
  position: relative;
  top: 50px;
}
p.button4 a{
  border: 1px solid #f6b63a;
  padding: 10px 35px 10px 35px ;
  border-radius: 50px;
  text-decoration: none;
  color: #f6b63a;
  font-size: 20px;
  font-family: "Roboto-Regular";
  transition:all 0.4s ease;    
}
p.button4 a:hover{
  background-color: #15acd7;
  color: white;
  border: 1px solid white;

}
@media screen and (min-width: 100px) and (max-width: 400px){
  .container8 {
  width: 100%;
  margin: 0 auto;
  background-color: #14424f;
  height: 430px;
}
#id{
  clear: both;
}
.wrapper7{
  width: 90%;
  margin: 0 auto;
}
.cont7{
  width: 100%;
  margin: 0 auto;
}
.cont7 .col3{
  width: 50%;
  float: left;
}
.col3 h2{
  text-align: left;
  font-size: 20px;
  font-family: "ArnoPro-Italic";
  color: #15acd7;
}
.col3 ul {
  text-align: left;
  list-style: none;
}
.col3 ul a{
  padding-left: 12px;
  text-decoration: none;
  font-family: "ProximaNovaSoft-Regular";
  color: white;
  font-size: 1em;
}
.col3 a i{

  float: left;
  font-size: 30px;
  color: white;
  padding: 10px;
  text-align: left;
}
form {
  top: 180px;
  position: absolute;
  float: left;
  border-radius: 10px;
  text-align: center;
 }
.search {
  width: 200px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding:8px 13px;
  background: #f0f8ff;
  border: 1px solid white;
}
.button5 {
  border: 1px solid white;
  transition:all 0.4s ease;
  border-radius: 10px;
  left: -60px;
  position:relative;
    padding:8px 13px;
    background-color:#f6b63a;
    color:#fff;
    cursor: pointer;
}
.col3 a i{
  margin-top: 35px;
  float: left;
  font-size: 25px;
  color: white;
  padding: 5px;
  text-align: left;
}
p.button4 {
  text-align: left;
  padding-top: 25px;
}
p.button4 a{
  border: 1px solid #f6b63a;
  padding:7px 25px 7px 25px ;
  border-radius: 50px;
  font-size: 15px;   
}
footer .copy {
  width: 80%;
  margin: auto;
  padding-top: 20px;
}
footer .copy1{
  width: 100%;
}
footer .copy_right, .copy_left {
  font-size: 13px;
}
footer .copyright a:hover {
  color: #0093dd;
}
footer .copy_left {
  text-align: left;
  width: 50%;
  float: left;
  color: #ebebeb;
  font-size: 14px;
  font-family: "OpenSans";
}
footer .copy_right {
  text-align: right;
  color: #e1e1e1;
  font-size: 14px;
  font-family: "OpenSans";
}
}
footer .copy1{
  width: 100%;
}
footer .copy_right, .copy_left {
  font-size: 13px;
}
footer .copyright a:hover {
  color: #0093dd;
}
footer .copy_left {
  text-align: left;
  width: 50%;
  float: left;
  color: #ebebeb;
  font-size: 14px;
  font-family: "OpenSans";
}
footer .copy_right {
  text-align: right;
  color: #e1e1e1;
  font-size: 14px;
  font-family: "OpenSans";
}
footer .container_footer {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  text-align: center;
  background-color: #14424f;
}
}